:root {
    --primary: #009688;
    --light: #fff;
    --dark: #1b1464;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.background {
    width: 100%;
    height: 100vh;
    background: url(images/websitebackground2.png);
    background-position: center;
    background-attachment: absolute;
    background-size: cover;
}

.navi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 25px 32px;
}

label.logo {
    width: 120px;
    cursor: pointer;
    margin: .5rem;
    padding: 0 200px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .navbar-links {
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -20px;
}

.navbar-links ul {
    display: flex;
    float: right;
    margin-right: 40px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--light);
    padding: 1rem;
    display: block;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar-links ul li a {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    padding: 7px 0;
}

.navbar-links ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.navbar-links ul li:hover:after {
    width: 100%;
}

.resume {
    text-align: center;
    padding-top: 30%;
}

.resume-width {
    width: 400px;
}

.about {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--dark);   
}

.page-title {
    justify-content: flex-end;
    text-transform: uppercase;
    color: var(--dark);
    font-size: larger;
    padding-inline-start: 79%;
    padding-top: 2%;
    cursor: pointer;
    position: fixed;
}

.teal {
    color: var(--primary);
}

.about p {
    margin: 20px auto;
    font-weight: 75;
    line-height: 150%;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--dark);
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;
}

.content2 {
    width: 100%;
    position: absolute;
    padding-top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--dark);
}

.my-links button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--dark);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.button-action {
    background: var(--primary);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    color: var(--light)
}

.projects {
    justify-content: space-evenly;
    padding-top: 20%;
    display: flex;
}

.math-monster img{
    width: 300px;
    height: 75%;
}

.cookbook img {
    width: 300px;
    height: 75%;

}

.goat img {
    width: 300px;
    height: 75%;
}

.charity img {
    width: 300px;
    height: 75%;
}


@media (max-width: 768px) {
    .navbar {
        /* flex-direction: block; */
        align-items: center; 
        /* position: fixed;  */
        width: 100%;
        padding: 40px 40px; 
        /* background-color: var(--light); */
    }

    .navbar-links ul li a {
        /* color: var(--dark); */
        font-size: large;
    }

    .navbar-links ul {
        flex-direction: center;
    }

    .navbar-links li {
        text-align: center;
        padding-left: 5px;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .resume {
        padding-top: 30%;
    }

    .resume-width {
        width: 375px;
    }

    .about p {
        font-size: medium;
        padding-top: 25%;
        padding-left: 7%;
        padding-right: 7%;
    }

}

@media (max-width: 630px) {
    .navbar {
        flex-direction: column;
        /* align-items: center;  */
        position: fixed;
        width: 100%;
        padding-top: 30px;
        
        /* padding: 40px 40px;  */
        /* background-color: var(--light); */
    }

    .navbar-links ul li a {
        /* color: var(--dark); */
        font-size: inherit;
        margin: -.8em;
        
    }

    .navbar-links ul {
        padding-inline-start: 2em;
        flex-direction: center;
    }

    .navbar-links li {
        text-align: center;
    }


    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul li::after {
        bottom: -7px;
    }

    .resume {
        padding-top: 63%;
    }

    .resume-width {
        width: 350px;
    }

    .page-title {
        font-size: smaller;
        padding-inline-start: 40%;
    }

    .about p {
        font-size: smaller;
        padding-top: 43%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content h1 {
        font-size: 50px;
    }

    .content2 {
        margin-top: 27%;
    }

    .projects {
        padding-top: 50%;
    }
}